@import "tailwindcss";
*{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

.form{
    display: block;
    border: 2px solid blue;
    outline: none;
    border-radius: 0.75rem;
    padding:0.25rem;
    text-indent: 1rem;
    width: 90%;
}
